@tailwind base;
@tailwind components;
@tailwind utilities;

.expense-title {
  margin-left: -50%;
}

.usaii-header-image {
  background-image: url("https://ik.imagekit.io/edtechdigit/usaii/content/images/caitl-banner.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.usaii-image {
  width: 350px;
  height: 60px;
}
.usaii-font {
  font-size: 13px;
}
/* youtube */
